body{


 font-family: 'Poppins', sans-serif;
 background-color: gainsboro;

width: 1290px;


}


.header{

    background-color:gray;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    padding-left: 60px;
    

}

.header-left{
float: left;
width: 20%;
}

.header-left a{
    
}

.header-left a img {
width: 30%;
border-radius: 50%;
margin-top: 2px;

    
}



.header-right{

text-align: center;

float:right;
width: 80%;
margin-top: 25px;



}


.header-right a{

    text-decoration: none;
 margin-bottom: 10px;
 justify-content: space-around;
 padding: 20px;
 animation-direction: alternate;
animation-play-state: running;
animation-fill-mode: forwards;

transform-style: preserve-3d;
color: black;




}


.header-right a:hover{
text-decoration: dotted;
color: aqua;
-webkit-animation-fill-mode: forwards;
}


/*-----slidercss---*/

.slider{



    background-image: url(/images/dark.jfif);
    
    background-size: fixed;
    margin-top: 50px;
    margin-left: 50px;
  padding: 70px;
   height: 700px;
}

.sliderh{

    color:whitesmoke;
    text-align: center;
    font-size: 45px;
    padding: 70px;





    
}

.btnh{

    font-size: 30px;
    background-color: aqua;
  color: whitesmoke;
    align-items: center;
    
    padding: 20px;
    
    margin-left: 35%;
    border-radius: 10px;
}
.spanbtn{

    font-size: 20px;
    color: white;
}

.slider:hover{

    background-image:url(/images/pexels-pixabay-267507.jpg);
    

}



.btnh:hover{

    font-size: 30px;
    
  color: yellow;
    align-items: center;
    
    padding: 20px;
    background-color: rgb(255, 51, 0);
    margin-left: 35%;
    border-radius: 10px;
}

.sliderh:hover{

    color:aqua;
    text-align: center;
    font-size: 45px;
    padding: 70px;





    
}


























